body {
  background-color: rgb(183, 73, 183);
  justify-content: center;
  display: flex;
}

.main {
  width: 600px;
  height: 600px;
  border: solid 1px;
  border-radius: 10px;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
#title,
#content {
  color: #461959;
}
#createNew {
  border-radius: 5px;
  width: 160px;
  height: 20px;
}
#text-area {
  border-radius: 5px;
}
